mixin serv(img, title, subtitle)
	.col-sm-12.col-lg-6.p-sm-1.p-md-3
		.services__block(class='services__block--' + img)
			h2.services__title= title
			p.services__subtitle= subtitle
		
		
section.services.container
	.row 
		.col
			h1.services__caption Наши цены и услуги
			p.services__subcaption Качественные услуги клининга и химчистки по дооступным ценами

	.row
		+serv('1', 'Экспресс уборка от 50 р./кв.м.', 'Мытье полов, протирка пыли и кухонного гарнитура, чистка сантехники, мытье зеркал')
		+serv('2', 'Генеральная уборка от 80 р./кв.м.', 'Экспресс уборка + чистка и обезжиривание холодильника, плиты и духового шкафа, протирка светильников и радиаторов, мытье стен в ванной')
		+serv('3', 'Послестроительная уборка от 90 р./кв.м.', 'Генеральная уборка + вынос строительного мусора, влажная уборка всего помещения до полной ликвидации строительной пыли')
		+serv('4', 'Уборка офисов (цена договорная от 30 р./кв.м.)', 'Разовая или постоянная влажная уборка в офисных, торговых, производственных помещениях')
