include ../svg-icon/svg-icon
doctype
html(lang='ru')
	head
		block head
			meta(charset='utf-8')
			meta(name='viewport' content='width=device-width,initial-scale=1')
			link(rel='stylesheet' href='css/style.min.css')
	body
		block content
			include ../../components/header/1_header
			include ../../components/services/services
			include ../../components/order/order
			include ../../components/gallery/gallery
			include ../../components/reviews/reviews
			.footer__mobile
				include ../../components/about/about
				include ../../components/footer/footer
		script(src='js/libs/fslightbox.js')
		script(src='js/main.min.js')