mixin review(photo, name, text)
	.col-12.col-lg-4.py-3
		.review__card
			img.review__photo(src=photo, alt=name)
			h3.review__name= name
			p.review__text= text




section.reviews.container
	.row
		.col
			h2.reviews__caption Отзывы клиентов 
			p.reviews__subcaption Каждый третий клиент заказывает у нас уборку на постоянной основе
	.row 
		.col-12.col-xl-10.offset-xl-1
			.row
				+review('img/review-1.webp', 'Дмитрий', 'Надо было быстро освежить обстановку перед праздником, диван, ковры и тд, нашел по отзывам Клининград. Вызвал, приехали быстро, сделали все, что было нужно. Ребята справились, за что им благодарность.')
				+review('img/review-2.webp', 'Александр', 'Ранее был опыт заказа подобных услуг. Но могу сказать, что далеко не везде так вежливо и культурно относятся к клиентам как здесь. Цены устраивают, работают быстро, качество услуг хорошее')
				+review('img/review-3.webp', 'Ольга', 'Диван был испорчен!! Так не хотелось выбрасывать, а отмыть его казалось просто нереально. Наткнулась в интернете на рекламу, решила обратиться. Была удивлена, что вы так быстро приехали и самое главное смогли его отмыть)) Спасибо!')