mixin about(icon, title, ...items)
	.col-12.col-lg-4.py-3
		.about__card(class='about__card--'+icon)
			h3.about__title= title
			ul.about__list
				each item in items
					li.about__item= item



section.about.container
	.row
		.col-12.col-lg-10.offset-lg-1
			h2.about__caption О компании
			p.about__text-top Мы – инновационный сервис уборки. Мы позволяем вам привлекать лучших исполнителей уборки в каждом городе, где мы работаем. Уже более 13 лет мы помогаем вам поддерживать чистоту в домах и освобождаем вас от рутины. Специализация нашей платформы на борке и технологическая эффективность даёт нам главное преимущество – опытных исполнителей и стабильное качество услуг.
	.row
		.col-12.col-xl-10.offset-xl-1
			.row
				+about('house', 'Удобный сервис', 'все клининговые услуги в одном месте', 'сдача ключей - уборка без вас.')
				+about('list', 'Большой опыт', 'Более 13 лет на рынке', 'Свыше 300 000 уборок', '80 000 клиентов')
				+about('cleaning', 'Лучшие исполнители', 'Многоступенчатая подготовка', 'Собственное учебное место', 'Своя система мотивации ')
