section.gallery.container
	.row
		.col-10.offset-1
			#lightgallery.row
				a(href="img/gallery/image-1.webp", data-fslightbox).col-sm-12.col-lg-6.py-1.py-md-2.py-lg-3
					img(alt=".." src="img/gallery/image-1.webp").gallery__img
				a(href="img/gallery/image-4.webp", data-fslightbox).col-sm-12.col-lg-6.py-1.py-md-2.py-lg-3
					img(alt=".." src="img/gallery/image-4.webp").gallery__img
				a(href="img/gallery/image-3.webp", data-fslightbox).col-sm-12.col-lg-6.py-1.py-md-2.py-lg-3
					img(alt=".." src="img/gallery/image-3.webp").gallery__img
				a(href="img/gallery/image-2.webp", data-fslightbox).col-sm-12.col-lg-6.py-1.py-md-2.py-lg-3
					img(alt=".." src="img/gallery/image-2.webp").gallery__img
	//- 	<a href="img/img2.jpg" data-lg-size="1024-800">
	//- 		<img alt=".." src="img/thumb2.jpg" />
	//- 	</a>
	//- 	...
	//- </div>


